<phpunit bootstrap="bootstrap.php" colors="true">
    <!--
    SPDX-FileCopyrightText: {{ app.author_name }} <{{ app.author_mail }}>
    SPDX-License-Identifier: {{ app.license }}
    -->
    <testsuites>
        <testsuite name="unit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
