{% extends "socialaccount/base.html" %}

{% load i18n recaptcha2 %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block head %}
    {% recaptcha_init request.LANGUAGE_CODE %}
{% endblock %}

{% block content %}
    <div class="central-form">
        <h1>{% trans "Register" %}</h1>

        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {%  include 'form-fields.html' %}
            <button class="btn btn-primary" type="submit">{% trans "Register" %} &raquo;</button>
        </form>
    </div>
{% endblock %}
