*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
/build
tests/report/
venv
.idea/workspace.xml
.idea/tasks.xml
.idea/codeStyleSettings.xml
.idea/inspectionProfiles
.idea/codeStyles
nextcloudappstore/local_settings.py
*.sqlite3
*.wp[ru]
nextcloudappstore/settings/production.py
nextcloudappstore/settings/development.py
/nextcloudappstore/core/static/public/*
/nextcloudappstore/core/static/vendor/*
bin/
*.swp
*.log
*.mo
.coverage
newrelic.ini
/htmlcov/
/test.sqlite3-journal
.mypy_cache
/static
/media
/logs
/config
.DS_Store
/nextcloudappstore/static
/dev/
/nextcloudappstore/scaffolding/app-templates/*/app/.php-cs-fixer.cache
/nextcloudappstore/scaffolding/app-templates/*/app/composer.lock
