<dev@bernhard-posselt.com> <BernhardPosselt@users.noreply.github.com>
<dev@bernhard-posselt.com> <bep@foryouandyourcustomers.com>
Adi Sieker <adi@sieker.io> adsworth <adi@sieker.io>
<lukas@statuscode.ch> <lukas@owncloud.com>
<jani@bonnevier.one> <janibonnevier@users.noreply.github.com>
