{% load compatible_releases first_word %}<?xml version="1.0"?>
<ocs>
    <meta>
        <status>ok</status>
        <statuscode>100</statuscode>
        <message></message>
    </meta>
    <data>
        <content details="full">
            <id>{{ app.ocsid }}</id>
            <name>{{ app.name }}</name>
            {% with releases=app|compatible_releases:version %}
                <version>{{ releases.0.version }}</version>
            {% endwith %}
            <changed>{{ app.last_release|date:'c' }}</changed>
            <typeid>{{ app.categories.all.0.ocsid }}</typeid>
            <typename>{{ app.categories.all.0.name|first_word }}</typename>
            <personid>{{ app.owner.first_name }} {{ app.owner.last_name }}</personid>
            <profilepage>http://opendesktop.org/usermanager/search.php?username=anonymous</profilepage>
            <downloads>0</downloads>
            <score>{% widthratio app.rating_overall 1 100 %}</score>
            <description>{{ app.description }}</description>
            {% if app.featured %}
                <approved>200</approved>
            {% else %}
                <approved>100</approved>
            {% endif %}
            <license>AGPL</license>
            <detailpage>{{ request.scheme }}://{{ request.get_host }}{% url 'app-detail' app.id %}</detailpage>
            {% for shot in app.screenshots.all %}
                <previewpic{{ forloop.counter }}>{{ shot.url }}</previewpic{{ forloop.counter }}>
                <smallpreviewpic{{ forloop.counter }}>{{ shot.url }}</smallpreviewpic{{ forloop.counter }}>
            {% endfor %}
        </content>
    </data>
</ocs>



