# SPDX-FileCopyrightText: {{ app.author_name }} <{{ app.author_mail }}>
# SPDX-License-Identifier: {{ app.license }}
*.iml
.idea
/.php-cs-fixer.cache
/.php_cs.cache
/build/
/vendor/
js/*hot-update.*
node_modules/
