#app-gallery-container {
    box-shadow: 0 0 4px #ccc;

    /* center items in fullscreen mode */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-controls {
    line-height: 40px;
    height: 40px;
    background: none;
    opacity:1;
    position: relative;
    margin: 0 auto;
    background-color: var(--bg-color);
}

.carousel-control {
    background: none !important;
    opacity: 1;
    background-color: var(--bg-color) !important;
    color: #fff !important;
    text-shadow: none;
    font-size: 12pt;
    font-weight: 400;
}

.carousel-control .glyphicon {
    font-size: 11pt;
}

.carousel-control:hover {
    background: none !important;
    opacity: 1;
    background-color: #fff !important;
    color: var(--bg-color) !important;
    border: 1px solid var(--bg-color);
    text-shadow: none;
    font-size: 13pt;
    text-decoration: none !important;
}

.carousel-indicators {
    top: 0;
    line-height: 40px;
}

.carousel-indicators li {
    border-radius: 0;
}

.fullscreen {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: #fff;
    padding: 5px;
    text-shadow: none;
    font-size: 12pt;
    font-weight: 400;
}

.fullscreen:hover {
    background-color: #fff;
    color: var(--bg-color);
}
