#app-gallery-container {
    box-shadow: 0 0 4px #ccc;
}

.carousel-controls {
    line-height: 40px;
    height: 40px;
    background: none;
    opacity:1;
    position: relative;
    margin: 0 auto;
    background-color: var(--bg-color);
}

.carousel-control {
    background: none !important;
    opacity: 1;
    background-color: var(--bg-color) !important;
    color: #fff !important;
    text-shadow: none;
    font-size: 13pt;
}

.carousel-control .glyphicon {
    font-size: 11pt;
}

.carousel-control:hover {
    background: none !important;
    opacity: 1;
    background-color: #fff !important;
    color: var(--bg-color) !important;
    border: 1px solid var(--bg-color);
    text-shadow: none;
    font-size: 13pt;
    text-decoration: none !important;
}

.carousel-indicators {
    top: 0;
    line-height: 40px;
}

.carousel-indicators li {
    border-radius: 0;
}
