html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 230px;
    font-family: 'Open Sans', 'Frutiger', 'Calibri', 'Myriad Pro', 'Myriad', sans-serif;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 50px;
    overflow: hidden;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300;
}

#body section {
    margin-top: 30px;
    margin-bottom: 30px;
}

#body section h1:first-child,
#body section h2:first-child,
#body section h3:first-child,
#body section h4:first-child,
#body section h5:first-child,
#body section h6:first-child {
    margin-top: 0px;
}

#body h1:first-of-type {
    display: inline;
}

#body .header-wrap {
    margin-top: 0px;
    margin-bottom: 30px;
}

.header-wrap .tag:first-of-type {
    margin-left: 30px;
}

.tag {
    display: inline-block;
    position: relative;
    top: -5px;
    color: #777;
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
}

.banner {
    position: relative;
    height: 80px;
    background-color: var(--bg-color);
    background-image: url('../img/home/background3.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.banner .container {
    position: relative;
    height: 100%;
}

.brand {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    text-decoration: none !important;
}

.brand .logo {
    display: inline-block;
    height: 50px;
}

.brand .site-title {
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 20px;
    width: auto;
    font-size: 26px;
    line-height: 26px;
    color: white;
    font-weight: 300;
}

.search-form {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px
}

.search-box {
    display: block;
    max-width: 200px;
}

.search-button {
    display: none;
}

@media screen and (max-width: 768px) {

    .banner {
        height: auto;
    }

    .banner .container {
        height: auto;
    }

    .brand {
        display: block;
        position: relative;
        top: 0px;
        transform: none;
        margin: 40px auto;
        width: 100%;
    }

    .brand .logo {
        display: block;
        position: relative;
        margin: 0 auto;
        margin-bottom: 0px;
    }

    .brand .site-title {
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: 20px;
        line-height: 20px;
        color: white;
        text-align: center;
    }

    .search-form {
        display: block;
        position: relative;
        top: 0px;
        right: 0px;
        transform: none;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

#sidebar.nav {
    margin-bottom: 30px;
}

.nav-link > a {
    color: #fff;
    font-size: 12pt;
}

.nav-link > a:hover {
    text-decoration: underline;
}

.login {
    max-width: 350px;
    margin: auto;
    padding: 15px;
}

form .text-danger {
    padding: 15px;
}

.socialaccount-providers {
    text-align: center;
    margin: 0;
    padding: 15px;
}

.socialaccount-providers li {
    list-style-type: none;
    display: inline-block;
}

.socialaccount-providers li a {
    padding: 6px 12px;
    color: #fff !important;
    text-decoration: none !important;
    background-color: #1EC900;
    border-color: #4cae4c;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}

.search-results-title {
    margin-top: 0;
    margin-bottom: 30px;
}

.app-list-container img {
    max-width: 100%;
}

.app-list-container .default-screenshot {
    background-color: #0082c9;
    width: 100%;
    padding: 30px;
}

.app-list-container p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sorting {
    margin: 0 30px 15px 30px;
}

.sorting .glyphicon {
    margin-left: -2px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

#filter-form {
    display: block;
    font-weight: 300;
}

#filter-form input {
    margin: 0px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

#filter-form label {
    display: inline-block;
    font-weight: 300;
    cursor: pointer;
    padding: 7px 0px;
    margin: 0px;
    margin-right: 10px;
}

#filter-form label:last-of-type {
    margin-right: 0px;
}

.app-meta {
    border: 1px solid #ccc;
    margin-bottom: 40px;
    float: right;
    padding: 0 30px;
    margin-left: 15px;
    line-height: 1.5em;
}

@media (max-width: 500px){
    .app-meta {
        margin-left: 0;
        float: none;
    }
}

.app-meta h6 {
    font-weight: bold;
    margin-bottom: 3px;
}


.markdown img {
    max-width: 100%;
}

.app-meta p {
    padding-bottom: 15px;
}

.app-meta ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.app-meta ul.list-inline li {
    display: inline;
    padding-left: 0px;
}

.app-meta ul.list-inline li:after {
    content: ", ";
}

.app-meta ul.list-inline li:last-of-type:after {
    content: "";
}

.app-meta .resources ul  {
    padding-left: 20px;
}

.app-meta .resources ul li:before {
    content: "\e144";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-left: -20px;
    color: var(--bg-color);
    position: relative;
    top: 2px;
}

.loading {
    background-image: url('../img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.app-download {
    padding-bottom: 100px;
    padding-top: 50px;
    clear: right;
}

.app-download .unstable {
    color: #e0543d !important;
}

.accordion-item.unstable .accordion-title {
    background-color: #ffe8e4 !important;
    border-color: #ffe8e4 !important;
}

.accordion-item.unstable .accordion-content {
    border-color: #ffe8e4 !important;
}

.accordion-item.unstable .accordion-content:before {
    display: inline-block;
    content: 'Unstable';
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #e0543d;
    font-weight: normal;
}

.accordion-item.unstable .accordion-content .release-download {
    background-color: #e0543d;
}

.accordion-item.unstable .accordion-content .release-download:after {
    content: '(Unstable)';
}

.center {
    text-align: center;
}

#app-upload-form {
    margin-bottom: 30px;
}

#app-upload-form .alert {
    margin: 0;
}
