.banner {
    background-image: url('../img/home/background3.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 150px;
}

.brand {
    line-height: 150px;
}

.nav-link > a {
    color: #fff;
    font-size: 12pt;
}

.nav-link > a:hover {
    text-decoration: underline;
}

