/* Custom theme changes */

:root {
    --bg-color: #0082c9;
    --bg-color-hover: #0069B0;
    --link-color: #0082c9;
    --link-active-color: #fff;
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
    --color-background-light: #e5f3fa;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #0082c9;
	--color-primary-hover: #339bd4;
	--color-primary-light: #e6f3fa;
	--color-primary-light-hover: #dce9ef;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #0082c9;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #0082c9;
	--color-primary-element-hover: #339bd4;
	--color-primary-element-light: #17adff;
	--color-primary-element-lighter: #d9ecf7;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
    --border-radius-big: 20px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
    --icon-size: 22px;
}


#body a:not(.btn) {
    color: var(--link-color);
}

#body a:not(.btn):hover {
    color: var(--link-color);
    text-decoration: underline;
}

#body .nav-pills .active a {
    background-color: var(--bg-color);
    border-radius: var(--border-radius-pill);
    color: var(--link-active-color);
}

#body .nav-pills li a:hover {
    text-decoration: none;
}

#body .nav-pills li:not(.active) a:hover {
    border-radius: var(--border-radius-pill);
    background-color: var(--color-background-light);
    color: var(--color-text-light);
}

#body .nav-tabs {
    border-bottom: none;
}

#body .nav-tabs a {
    border-radius: 0;
    border: 0;
}

#body .nav-tabs a:hover,
#body .nav-tabs .active a {
    background-color: var(--bg-color);
    color: var(--link-active-color);
    border-radius: var(--border-radius-pill);
    text-decoration: none;
    cursor: pointer;
}

.well,
.well-small,
.container .jumbotron {
    border-radius: var(--border-radius-large);
    background-color: var(--color-background-light);
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-danger {
    background-color: var(--color-error);
}

.btn-danger:hover, .btn-danger:focus {
    background-color: var(--color-error-hover);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--color-primary-hover);
}
.btn-primary:focus {
    box-shadow: 0 0 0 2px var(--color-main-text);
}

.btn-default,
.btn-danger,
.btn-primary {
    border-radius: var(--border-radius);
    width: fit-content;
    overflow: hidden;
    border: 0;
    padding: 0;
    font-size: var(--default-font-size);
    font-weight: bold;
    min-height: 44px;
    min-width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 22px;
    transition: background-color 0.1s linear !important;
    padding: 4px 16px;
}

.form-control {
    border-radius: var(--border-radius);
}

.form-control:focus {
    box-shadow: 0 0 2px var(--bg-color);
}

pre, code {
    font-family: monospace;
}

.has-feedback label ~ .form-control-feedback {
    top: 33px;
}

.dropdown-menu li a {
    padding: 10px 15px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], textarea.form-control, select.form-control {
    margin: 0;
    padding: 0 12px;
    padding-right: 12px;
    font-size: var(--default-font-size);
    background-color: var(--color-main-background);
    color: var(--color-main-text);
    border: 2px solid var(--color-border-dark);
    border-radius: var(--border-radius-large);
    text-overflow: ellipsis;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    box-shadow: none;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
    height: 36px !important;
}

.alert {
    border-radius: var(--border-radius-big);
}
