/* Custom theme changes */

:root {
    --bg-color: #0082c9;
    --bg-color-hover: #0069B0;
    --link-color: #0082c9;
    --link-active-color: #fff;
    --border-radius: 0;
}


#body a:not(.btn) {
    color: var(--link-color);
}

#body a:not(.btn):hover {
    color: var(--link-color);
    text-decoration: underline;
}

#body .nav-pills .active a {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--link-active-color);
}

#body .nav-pills a:hover {
    text-decoration: none;
    border-radius: var(--border-radius);
}

#body .nav-tabs a {
    border-radius: 0;
    border: 0;
}

#body .nav-tabs a:hover,
#body .nav-tabs .active a {
    background-color: var(--bg-color);
    color: var(--link-active-color);
    text-decoration: none;
    cursor: pointer;
}

.well,
.well-small,
.container .jumbotron {
    border-radius: var(--border-radius);
    background-color: #fff;
}

.btn-primary {
    background-color: var(--bg-color);
}

.btn-primary {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
}

.btn-primary:hover {
    background-color: var(--bg-color-hover);
}

.btn-default,
.btn-danger {
    border-radius: var(--border-radius);
}

.form-control {
    border-radius: var(--border-radius);
}

.form-control:focus {
    box-shadow: 0 0 2px var(--bg-color);
}

pre, code {
    font-family: monospace;
}

.has-feedback label ~ .form-control-feedback {
    top: 33px;
}

.dropdown-menu li a {
    padding: 10px 15px;
}
