{% extends "account/base.html" %}

{% load css_class %}
{% load i18n %}
{% load account socialaccount %}

{% block head-title %}{% trans "Sign In" %} - {% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="login">
    <h1 class="text-center">{% trans "Log In" %}</h1>

    <hr>
    {% if socialaccount_providers %}
        <ul class="socialaccount-providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <hr>

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if form.non_field_errors  %}
            {% for error in form.non_field_errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="sr-only">(error)</span>
                <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

            {{ field|css_class:'form-control' }}

            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                    <p class="text-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            {% if field.help_text %}
                <p class="help-block">{{ field.help_text|safe }}</p>
            {% endif %}

        </div>
        {% endfor %}
        <p><button class="btn btn-primary btn-block" type="submit">{% trans 'Log in' %}</button></p>
        <p class="row text-center">
            <a class="col-lg-6" href="{% url 'account_reset_password' %}">{% trans 'Forgot password' %}</a>
            <a class="col-lg-6" href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
        </p>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </form>
</div>

{% endblock %}
