{% extends "base.html" %}

{% load css_class i18n account socialaccount %}

{% block head-title %}{% trans "Log in" %} - {% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="central-form">
    <h4>{% trans 'Log in' %}</h4>

    <div class="auth-form">
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% include 'form-fields.html' %}
            <p class="row text-center actions">
                <button class="btn btn-primary btn-block" type="submit">
{#                    <span class="icon icon-login icon-white"></span>#}
                     <span class="icon material-symbols-outlined">login</span>
                    {% trans 'Log in' %}
                </button>
                <a class="btn btn-default col-lg-6 btn-light" href="{% url 'account_reset_password' %}">
{#                    <span class="icon icon-head-question"></span>#}
                    <span class="icon material-symbols-outlined">psychology_alt</span>
                    {% trans 'Forgot password?' %}
                </a>
            </p>
            <p class="row text-center actions">
                {% get_providers as socialaccount_providers %}
                {% for provider in socialaccount_providers %}
                    <a title="{{ provider.name }}"
                       class="socialaccount_provider {{ provider.id }} btn btn-default btn-light col-lg-6"
                       href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}">
{#                        <span class="icon icon-login"></span>#}
                        <span class="icon material-symbols-outlined">login</span>
                        {% trans 'Log in with GitHub' %}
                    </a>
                {% endfor %}
                <a class="btn btn-default btn-light col-lg-6" href="{% url 'account_signup' %}">
{#                    <span class="icon icon-register"></span>#}
                    <span class="icon material-symbols-outlined">app_registration</span>
                    {% trans 'Register' %}
                </a>
            </p>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
