{% extends "account/base.html" %}

{% load css_class %}
{% load i18n %}
{% load account socialaccount %}

{% block head-title %}{% trans "Sign In" %} - {% endblock %}

{% block content %}
<div class="central-form">
    <h1 class="text-center">{% trans "Password Reset" %}</h1>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

            {{ field|css_class:'form-control' }}

            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                    <p class="text-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            {% if field.help_text %}
                <p class="help-block">{{ field.help_text|safe }}</p>
            {% endif %}

        </div>
        {% endfor %}
        <p><button class="btn btn-primary btn-block" type="submit">{% trans 'Reset My Password' %}</button></p>
        <p class="row text-center">
            <a class="col-lg-6" href="{% url 'account_reset_password' %}">{% trans 'Forgot password' %}</a>
            <a class="col-lg-6" href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
        </p>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}

