{% extends "account/base.html" %}

{% load css_class recaptcha2 socialaccount i18n %}

{% block head-title %}{% trans "Register" %} - {% endblock %}

{% block head %}
    {% recaptcha_init request.LANGUAGE_CODE %}
{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}

<div class="central-form">
    <h1 class="text-center">{% trans "Register" %}</h1>
    <hr>
    {% if socialaccount_providers %}
    <ul class="socialaccount-providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <hr>

    <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% include 'form-fields.html' %}
        <p><button class="btn btn-primary btn-block" type="submit">{% trans 'Register' %}</button></p>
    </form>
</div>

{% endblock %}
