{% extends "account/base.html" %}

{% load socialaccount %}
{% load css_class %}
{% load i18n %}

{% block head-title %}{% trans "Register" %} - {% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}

<div class="central-form">
    <h1 class="text-center">{% trans "Register" %}</h1>

    <hr>
    {% if socialaccount_providers %}
    <ul class="socialaccount-providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <hr>

    <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% include 'form-fields.html' %}
        <p><button class="btn btn-primary btn-block" type="submit">{% trans 'Register' %}</button></p>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </form>
</div>

{% endblock %}
