{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% if categories %}
        <ul id="sidebar" class="nav nav-pills nav-stacked">
            <li class="{% if cat.id == current_category.id and not object %}active{% endif %}">
                {% if ordering_url_args and filter_url_args %}
                    <a href="{% url 'home' %}?{{ ordering_url_args }}&{{ filter_url_args }}">{% trans 'All Apps' %}</a>
                {% elif ordering_url_args %}
                    <a href="{% url 'home' %}?{{ ordering_url_args }}">{% trans 'All Apps' %}</a>
                {% elif filter_url_args %}
                    <a href="{% url 'home' %}?{{ filter_url_args }}">{% trans 'All Apps' %}</a>
                {% else %}
                    <a href="{% url 'home' %}">{% trans 'All Apps' %}</a>
                {% endif %}
            </li>
            {% for cat in categories %}
            <li class="{% if cat.id == current_category.id %}active{% endif %}">
                {% if ordering_url_args and filter_url_args %}
                    <a href="{% url 'category-app-list' cat.id %}?{{ ordering_url_args }}&{{ filter_url_args }}">{{ cat.name }}</a>
                {% elif ordering_url_args %}
                    <a href="{% url 'category-app-list' cat.id %}?{{ ordering_url_args }}">{{ cat.name }}</a>
                {% elif filter_url_args %}
                    <a href="{% url 'category-app-list' cat.id %}?{{ filter_url_args }}">{{ cat.name }}</a>
                {% else %}
                    <a href="{% url 'category-app-list' cat.id %}">{{ cat.name }}</a>
                {% endif %}
            {% endfor %}
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="col-sm-9">
        {% block apps %}{% endblock %}
    </div>
</div>
{% endblock %}
