{% extends 'app/base.html' %}
{% load i18n %}
{% load sort_by_version %}
{% load staticfiles %}

{% block head-title %}{{ object.name }} - {% trans 'Apps' %} - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'vendor/highlightjs/styles/github.css' %}">
    <script defer="defer" src="{% static 'vendor/highlightjs/highlight.pack.js' %}"></script>
    <script defer="defer" src="{% static 'vendor/markdown-it/dist/markdown-it.min.js' %}"></script>
    <script defer="defer" src="{% static 'assets/js/app-detail.js' %}"></script>
    <meta name="nextcloudappstore-app-detail-url" content="{% url 'app-description' object.id %}">
{% endblock %}

{% block apps %}
    <div class="header-wrap">
        <h1>{{ object.name }}</h1>{% if object.featured %}<span class="tag featured">{% trans "Featured" %}</span>{% endif %}
    </div>
    <section class="app-gallery">
        {% if object.screenshots.all %}
            <div class="img-slider">
                <div class="img-slider-controls">
                    <a class="control prev"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> {% trans "Previous" %}</a>
                    <a class="control next">{% trans "Next" %} <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                    <div class="slider-nav"></div>
                </div>
                <div class="img-slider-view">
                    <div class="img-strip">
                        {% for screenshot in object.screenshots.all %}<img class="img" src="{{ screenshot.url }}">{% endfor %}
                    </div>
                </div>
                <a class="fullscreen-btn"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> {% trans "Fullscreen" %}</a>
            </div>
        {% endif %}
    </section>
    <div class="app-meta col-md-4">
        <section>
            {% if object.last_modified %}
            <h6>{% trans "Updated" %}</h6>
            <p>{{ object.last_modified }}</p>
            {% endif %}
            {% if object.owner %}
            <h6>{% trans "Publisher" %}</h6>
            <p>
                {% if object.owner.get_fullname %}
                {{ object.owner.get_fullname }}
                {% else %}
                {{ object.owner.username }}
                {% endif %}
            </p>
            {% endif %}
            {% if object.co_maintainers.all %}
            <h6>{% trans "Co-Maintainers" %}</h6>
            <ul class="list-inline">
                {% for a in object.co_maintainers.all %}
                <li>{% if a.get_fullname %}
                    {{ a.get_fullname }}
                    {% else %}
                    {{ a.username }}
                    {% endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        <section class="resources">
            <h4>{% trans "Resources" %}</h4>
            <ul>
                {% if object.website %}
                <li><a href="{{ object.website }}">{% trans "Homepage" %}</a></li>
                {% endif %}
                {% if object.issue_tracker %}
                <li><a href="{{ object.issue_tracker }}">{% trans "Issue tracker" %}</a></li>
                {% endif %}
                {% if object.user_docs %}
                <li><a href="{{ object.user_docs }}">{% trans "User documentation" %}</a></li>
                {% endif %}
                {% if object.admin_docs %}
                <li><a href="{{ object.admin_docs }}">{% trans "Administration documentation" %}</a></li>
                {% endif %}
                {% if object.developer_docs %}
                <li><a href="{{ object.developer_docs }}">{% trans "Developer documentation" %}</a></li>
                {% endif %}
                <li><a href="#downloads">{% trans "Downloads" %}</a></li>
            </ul>
        </section>
    </div>
    <section class="app-description markdown loading"></section>
    <div class="row">
        <div class="col-md-12">
            <section class="app-download">
                <h4 id="downloads">{% trans "Downloads" %}</h4>
                <table class="table">
                    {% for platform_v, release in latest_releases_by_platform_v|sort_by_version:'desc' %}
                        {% if release %}
                            <tr>
                                <td>Nextcloud {{ platform_v }}</td>
                                <td><a href="{{ release.download }}">Latest release ({{ release.version }})</a></td>
                                <td><a href="/app/{{ object.id }}/releases/?platform={{ platform_v }}#{{ platform_v }}">{% trans "All releases" %}</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </section>
        </div>
    </div>

{% endblock %}
