{% extends 'app/base.html' %}
{% load i18n %}
{% load dict_sort %}

{% block head-title %} - {% trans 'Apps' %} - {{ object.name }}{% endblock %}

{% block apps %}
    <h1>{{ object.name }}</h1>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#app_overview" data-toggle="tab">Overview</a>
        </li>
        <li>
            <a href="#app_documentation" data-toggle="tab">Documentation</a>
        </li>
        <li>
            <a href="#app_releases" data-toggle="tab">Releases</a>
        </li>
    </ul>
    <div id="app_details_tab_content" class="tab-content">
        <div class="tab-pane active" id="app_overview">
            <section class="app-gallery"><p><br><br><br>Gallery placeholder<br><br><br><br><br></p></section>
            <section class="app-description">{% autoescape off %}{{ desc_markdown }}{% endautoescape %}</section>
            <section class="app-releases">
                <h3>Download latest version</h3>
                <table class="table">
                    <tr>
                        <th>Nextcloud</th>
                        <th>{{ object.name }}</th>
                    </tr>
                    {% for platform_v, release in latest_releases_by_platform_v|dict_sort:'desc' %}
                        {% if release %}
                            <tr>
                                <td>{{ platform_v }}</td>
                                <td><a href="{{ release.download }}">{{ release.version }}</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </section>

            <section class="app-details">
                <h3>Details</h3>
                <table class="table">
                    {% if object.issue_tracker %}
                    <tr>
                        <th>{% trans "Issue tracker" %}</th>
                        <td><a href="{{ object.issue_tracker }}">{{ object.issue_tracker }}</a></td>
                    </tr>
                    {% endif %}
                    {% if object.website %}
                    <tr>
                        <th>{% trans "Homepage" %}</th>
                        <td><a href="{{ object.website }}">{{ object.website }}</a></td>
                    </tr>
                    {% endif %}
                    {% if object.created %}
                    <tr>
                        <th>{% trans "Created on" %}</th>
                        <td>{{ object.created }}</td>
                    </tr>
                    {% endif %}
                    {% if object.last_modified %}
                    <tr>
                        <th>{% trans "Last modified on" %}</th>
                        <td>{{ object.last_modified }}</td>
                    </tr>
                    {% endif %}
                    {% if object.owner %}
                    <tr>
                        <th>{% trans "Owner" %}</th>
                        <td>
                            {% if object.owner.get_fullname %}
                                {{ object.owner.get_fullname }}
                            {% else %}
                                {{ object.owner.username }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.co_maintainers.all %}
                    <tr>
                        <th>{% trans "Maintainers" %}</th>
                        <td>
                            <ul class="list-inline">
                                {% for a in object.co_maintainers.all %}
                                    <li>{% if object.owner.get_fullname %}
                                            {{ object.owner.get_fullname }}
                                        {% else %}
                                            {{ object.owner.username }}
                                        {% endif %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </section>
        </div>
        <div class="tab-pane" id="app_screenshots">
            <div id="screenshot_carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for screenshot in object.screenshots.all %}
                        <li data-target="#screenshot_carousel" data-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for screenshot in object.screenshots.all %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <img class="img-responsive center-block" src="{{ screenshot.url }}" alt="{{ screenshot.name }}">
                        {% if screenshot.name or screenshot.description %}
                            <div class="carousel-caption">
                                <h3>{{ screenshot.name }}</h3>
                                <p>{{ screenshot.description }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#screenshot_carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#screenshot_carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="tab-pane" id="app_documentation">
            <table class='table' >
                {% if object.user_docs %}
                    <tr>
                        <th>{% trans "User documentation" %}</th>
                        <td><a href="{{ object.user_docs }}">{{ object.user_docs }}</a></td>
                    </tr>
                {% endif %}
                {% if object.admin_docs %}
                    <tr>
                        <th>{% trans "Administration documentation" %}</th>
                        <td><a href="{{ object.admin_docs }}">{{ object.admin_docs }}</a></td>
                    </tr>
                {% endif %}
                {% if object.developer_docs %}
                    <tr>
                        <th>{% trans "Developer documentation" %}</th>
                        <td><a href="{{ object.developer_docs }}">{{ object.developer_docs }}</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="tab-pane" id="app_releases">
            <ul class="nav nav-pills nav-stacked col-md-2">
                {% for release in object.releases.all %}
                    <li class="{% if forloop.first %}active{% endif %}"><a href="#release_tab_{{ forloop.counter0 }}" data-toggle="pill">{{ release.version }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content col-md-10">
                {% for release in object.releases.all %}
                    <div class="tab-pane {% if forloop.first %}active {% endif %}" id="release_tab_{{ forloop.counter0 }}">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#release_overview" data-toggle="tab">Overview</a>
                            </li>
                            <li>
                                <a href="#release_requirements" data-toggle="tab">Requirements</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div class="tab-pane active" id="release_overview">
                                <table class="table">
                                    <tr>
                                        <th>{% trans "Supported Nextcloud Versions" %}</th>
                                        <td>{{ release.platform_min_version }} - {{ release.platform_max_version }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Supported PHP Versions" %}</th>
                                        <td>{{ release.php_min_version }} - {{ release.php_max_version }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Minimum Integer Bits" %}</th>
                                        <td>{{ release.min_int_size }}bit</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Download URL" %}</th>
                                        <td><a href="{{ release.download }}">{{ release.download }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Created on" %}</th>
                                        <td>{{ release.created }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Last modified" %}</th>
                                        <td>{{ release.last_modified }}</td>
                                    </tr>
                                 </table>
                            </div>
                            <div class="tab-pane" id="release_requirements">
                                <table class="table">
                                    <tr>
                                        <th>{% trans "PHP Extensions" %}</th>
                                        <td>
                                            <ul>
                                                {% for dep in release.phpextensiondependencies.all %}
                                                    <li>{{ dep.php_extension.id }} - {{ dep.min_version }} to {{ dep.max_version }}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Databases" %}</th>
                                        <td>
                                            <ul>
                                                {% for dep in release.databasedependencies.all %}
                                                    <li>{{ dep.database.name }} - {{ dep.min_version }} to {{ dep.max_version }}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Shell commands" %}</th>
                                        <td>
                                            <ul>
                                                {% for command in release.shell_commands.all %}
                                                    <li>{{ command.name }}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div><!-- tab content -->
        </div>
    </div>
{% endblock %}
