{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block head-title %}{% trans 'Generate app' %} - {% endblock %}

{% block content %}
    <div class="app-form">
        <h1>{% trans 'Generate app' %}</h1>
        <hr>
        <form id="app-generate-form" method="post" action="{% url 'app-scaffold' %}">
            {% csrf_token %}
            {% include 'form-fields.html' %}
            <button id="submit" class="btn btn-primary btn-block">{% trans 'Generate and download' %}</button>
        </form>
    </div>
{% endblock %}
