{% extends "user/base.html" %}
{% load i18n %}
{% load allauth %}
{# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% block head_title %}
    {% trans "Third-Party Login Failure" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Third-Party Login Failure" %}
    {% endelement %}
    <p>{% trans "An error occurred while attempting to login via your third-party account." %}</p>
{% endblock content %}
