* {
    font-family: 'Open Sans';
}

#header {
    background-color: #0082c9;
    background-position: center center;
}

input.default[type="submit"],
.object-tools a:focus,
.object-tools a:hover,
.module h2 {
    background-color: #0082c9;
}

.module caption {
    background-color: transparent;
    border-bottom: 1px solid #e7e7e7;
}

.module caption a.section {
    color: #333;
    font-weight: bold;
    font-size: 12pt;
}

.parler-language-tabs span.current {
    background-color: #0082c9 !important;
}

.parler-language-tabs {
    border-bottom: 1px solid #ccc !important;
}

div.breadcrumbs {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    color: #666;
}

div.breadcrumbs a {
    color: #666;
}

div.breadcrumbs a:hover {
    color: #666;
    text-decoration: underline;
}

#branding #site-name a,
#user-tools,
#user-tools a {
    color: #fff;
}

#user-tools {
    font-size: 9pt;
    font-weight: bold;
}

#user-tools a:link,
#user-tools a:visited {
    color: #fff;
}

a:link,
a:visited {
    color: #0082c9;
}

a:hover {
    text-decoration: underline;
}

.changelink,
.addlink,
.deletelink {
    background: none;
}

.changelink:before {
    content: '';
}

.addlink:before {
    content: '+ ';
}

.deletelink:before {
    content: '- ';
}

input.default[type="submit"]:hover {
    background-color: #286090;;
}

.submit-row input,
.submit-row input:hover {
    background-color: #1EC900;
}
