{% extends "user/base.html" %}
{% load i18n %}
{% load static %}

{% block head-title %}{% trans 'Account' %} - {% endblock %}

{% block account-content %}
    <h1>{% trans "Account" %}</h1>
    <section>
        <form action="{% url 'user:account' %}" method="post">
            {% include 'form-fields.html' %}
            <p>
                <button class="btn btn-primary btn-block" type="submit">
                    <span class="icon material-symbols-outlined">done</span>
                    {% trans 'Save' %}
                </button>
            </p>
        </form>
    </section>
{% endblock %}
