{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head-title %}{% trans "Account" %} - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <ul id="sidebar" class="nav nav-pills nav-stacked">
            <li class="{% if acc_page == 'account' %}active{% endif %}">
                <a href="{% url 'user:account' %}">{% trans 'Account' %}</a>
            </li>
            <li class="{% if acc_page == 'account-integrations' %}active{% endif %}">
                <a href="{% url 'user:account-integrations' %}">{% trans 'Integrations' %}</a>
            </li>
            <li class="{% if acc_page == 'account-transfer-apps' %}active{% endif %}">
                <a href="{% url 'user:account-transfer-apps' %}">{% trans 'Transfer app ownership' %}</a>
            </li>
            <li class="{% if acc_page == 'account-change-language' %}active{% endif %}">
                <a href="{% url 'user:account-change-language' %}">{% trans 'Change language' %}</a>
            </li>
            {% if request.user.has_usable_password %}
                <li class="{% if acc_page == 'password' %}active{% endif %}">
                    <a href="{% url 'user:account-password' %}">{% trans 'Password' %}</a>
                </li>
            {% endif %}
            <li class="{% if acc_page == 'api-token' %}active{% endif %}">
                <a href="{% url 'user:account-api-token' %}">{% trans 'API token' %}</a>
            </li>
            <li class="{% if acc_page == 'delete-account' %}active{% endif %}">
                <a href="{% url 'user:account-deletion' %}">{% trans 'Delete account' %}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        {% block account-content %}{% endblock %}
    </div>
</div>
{% endblock %}
