{% extends "user/base.html" %}
{% load i18n %}
{% load account socialaccount css_class %}

{% block head-title %}{% trans "Delete account" %} - {% endblock %}

{% block account-content %}
    <h1>{% trans "Delete account" %}</h1>
    <section>
        <p class="alert alert-danger">{% trans 'Deleting your account will delete all your apps and releases as well. To delete your account, insert your email address into the input field and click the "Delete account" button:' %}</p>
        <form method="POST" action="{% url 'user:account-deletion' %}">
            {% include 'form-fields.html' %}
            <p><input type="submit" class="btn btn-danger btn-block" value="{% trans 'Delete account' %}"></p>
        </form>
    </section>
{% endblock %}
