{% extends "user/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head-title %}{% trans "Password" %} - {% endblock %}

{% block account-content %}
    <h1>{% trans "Change Password" %}</h1>
    <section>
        <p class="text-danger">{% trans 'Changing your password will also regenerate your API token!' %}</p>
        {% if request.user.has_usable_password %}
            <form method="POST" action="{% url 'user:account-password' %}" class="password_change">
                {% include 'form-fields.html' %}
                <p><button class="btn btn-primary btn-block" type="submit">{% trans "Change Password" %}</button></p>
            </form>
        {% else %}
            <p>{% trans 'You seem to be using an account registered with a third-party provider. Your password can therefore <strong>not</strong> be changed from this page.' %}</p>
        {% endif %}
    </section>
{% endblock %}
