{% extends "admin/base.html" %}
{% load i18n static %}

{# SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% block title %}{{ title }} | {% trans 'Nextcloud App Store admin' %}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'assets/css/admin/admin.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}" charset="utf-8">
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans 'Nextcloud App Store administration' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
