{% extends "base.html" %}
{% load css_class %}
{% load i18n %}
{% load staticfiles %}

{% block head-title %}{% trans "Account" %} - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <ul id="sidebar" class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url 'user-account' %}">{% trans 'Account' %}</a>
            </li>
            <li>
                <a href="{% url 'user-password' %}">{% trans 'Password' %}</a>
            </li>
            <li>
                <a href="{% url 'user-apps' %}">{% trans 'My apps' %}</a>
            </li>
            <li>
                <a href="{% url 'user-api-token' %}">{% trans 'API token' %}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        {% block account-content %}{% endblock %}
    </div>
</div>
{% endblock %}
