{% extends "user/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head-title %}{% trans "Delete account" %} - {% endblock %}

{% block account-content %}
    <h1>{% trans "Delete account" %}</h1>
    <section>
        <form method="POST" action="{% url 'account-deletion' %}">
            <p class="warning">{% trans 'Deleting your account will delete all your apps and releases as well. To delete your account, insert your e-mail address into the the following text field' %}</p>
            <p><input type="text" placeholder="{% trans 'mail' %}" pattern="{{ request.user.email }}"></p>
            <p><button class="btn btn-primary btn-block" type="submit">{% trans "Delete account" %}</button></p>
        </form>
    </section>
{% endblock %}
