{% load css_class %}
{% csrf_token %}
{% if form.non_field_errors  %}
    {% for error in form.non_field_errors %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span class="sr-only">(error)</span>
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
{% endif %}
{% for field in form %}
    <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

        {{ field|css_class:'form-control' }}

        {% if field.errors %}
            {% for error in field.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="sr-only">(error)</span>
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% if field.help_text %}
            <p class="help-block">{{ field.help_text }}</p>
        {% endif %}
    </div>
{% endfor %}
{% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
