{% extends "user/base.html" %}
{% load css_class %}
{% load i18n %}
{% load staticfiles %}

{% block head-title %}{% trans 'My Apps' %} - {% endblock %}

{% block account-content %}
    <h1>{% trans "My Apps" %}</h1>
    <section>
        <table class="table">
            {% for obj in object_list %}
                <tr><td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td></tr>
            {% empty %}
                <tr><td>{% trans "No Apps" %}</td></tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
