{% extends "user/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head-title %}{% trans "Password" %} - {% endblock %}

{% block account-content %}

    <h1>{% trans "Change Password" %}</h1>
    <section>
        <form method="POST" action="{% url 'account-password' %}" class="password_change">
            {% include 'user/form-fields.html' %}
            <p><button class="btn btn-primary btn-block" type="submit">{% trans "Change Password" %}</button></p>
        </form>
    </section>
{% endblock %}
