{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" />
    <title>Nextcloud App Store{% block head-title %}{% endblock head-title %}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block head %}{% endblock head %}
  </head>

  <body>
  {% block body %}
    {% block navbar %}{% include 'nav.html' %}{% endblock navbar %}
    <div class="container">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        {% if categories %}
          <h2>Categories</h2>
          <ul id="sidebar" class="nav nav-pills nav-stacked affix">
          {% for cat in categories %}
            <li class="{% if cat.id == current_category.id %}active{% endif %}"><a href="{% url 'category_list_category' cat.id %}">{{ cat.name }}</a></li>
          {% endfor %}
        {% endif %}
        </ul>
      {% endblock sidebar %}
      </div>
      <div class="col-sm-10">
      {% block content %}
      {% endblock content %}
      </div>
    </div>
  {% endblock body %}
</body>
</html>
