{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}"/>
    <title>{% block head-title %}{% endblock %}App Store - Nextcloud</title>
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/img-slider.css' %}">
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script
        src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>

<body>
<div id="container">
    {% block navbar %}{% include 'nav.html' %}{% endblock %}
    <div class="container" id="body">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <footer class="navbar-default" id="footer">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-link">
                    <a href="https://github.com/nextcloud/appstore" rel="noreferrer noopener">{% trans 'Fork me on GitHub' %}</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
