{% extends "base.html" %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
</div>
{% endif %}

<h2>Applications</h2>
    <div class="row">
{% for app in recommended_apps %}
  <div class="col-sm-4">
    <div class="well">
      <h3><a href="{%url 'app_detail' id=app.id %}">{{ app.name }}</a></h3>
      {{ app.description }}
    </div>
  </div>
  {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
  {% endif %}
{% endfor %}
</div>
{% endblock content %}
