{% extends 'base.html' %}
{% load i18n %}

{% block head-title %}{% trans 'Legal Notice' %} - {% endblock %}

{% block head %}
<link rel="profile" href="http://microformats.org/profile/hcard">
{% endblock %}

{% block content %}

<h1>{% trans 'Legal Notice' %}</h1>

<address class="vcard">
    <div class="adr">
        <p class="org">Nextcloud GmbH</p>
        <p class="street-address">Kronenstraße 22A</p>
        <p class="postal-code">D-70173</p>
        <p class="locality">Stuttgart</p>
        <p class="country-name">Germany</p>
        <p>HRB 227086 (AG München)</p>
    </div>
    <p class="tel">+49 711 89 66 56 0</p>
    <p><a class="email" href="mailto:support@nextcloud.com">support@nextcloud.com</a></p>
</address>

<h2>{% trans 'Managing Directors' %}</h2>
<ul>
    <li>Niels Mache</li>
    <li>Frank Karlitschek</li>
</ul>


<p>{% trans 'All product names and trademarks are the property of their respective owners, which might in no way be associated or affiliated with Nextcloud.' %}</p>

{% endblock %}

