{% load staticfiles %}
{% load i18n %}
<div class="banner">
    <div class="container">
        <a class="brand" href="/"><img class="logo" src="{% static 'assets/img/logo_nextcloud_white.svg' %}" title="nextcloud.com" itemprop="logo"></a>
        <form method="get"
              action="{% if current_category %}{{ request.path }}
                      {% else %}{% url 'home' %}
                      {% endif %}"
              class="search-form">
            <input type="text"
                   name="search"
                   value="{{ search_query }}"
                   placeholder="{% if current_category %}{% blocktrans with cat=current_category.name %}Search {{ cat }}{% endblocktrans %}
                                {% else %}{% trans 'Search all apps' %}
                                {% endif %}"
                   class="form-control search-box">
            <input type="submit" value="{% trans 'Search' %}" class="search-button">
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-link">
                    <a href="{% url 'home' %}">Apps</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_superuser %}
                <li class="nav-link">
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-link">
                    <a href="{% url 'account_logout' %}">Log out</a>
                </li>
                {% else %}
                <li class="nav-link">
                    <a href="{% url 'account_login' %}">Log in</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'account_signup' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
