# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT

name: "Pull Request Docs Check"

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  appstore_docs:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Install poetry
        run: pip install poetry==1.8.2

      - name: Install dependencies
        run: poetry install --with docs

      - name: Build docs
        run: make docs

      - name: Pack the results in local tar file
        shell: bash
        run: tar czf /tmp/documentation.tar.gz -C docs/_build/html .

      - name: Upload static documentation
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Appstore docs.zip
          path: "/tmp/documentation.tar.gz"
